 <footer class="footer">
      <div class="container text-center">
            <hr class="my-4">
          <div> 
              <h6>Powered by</h6>
              <a href="https://developers.google.com/url-shortener/v1/getting_started" target="_blank">
                   <img id="google"src="/images/google.png" >
              </a>
             
          </div>
          <div>
              <img src="/images/nodejs.png" class="rounded" >&nbsp;&nbsp;
              <img src="/images/express.png" class="rounded" >&nbsp;&nbsp;
              <img src="/images/Heroku.png" class="rounded" >
          </div>
       
      </div>
      <div class="text-center">
          <span>Copyrights ©<a href="https://in.linkedin.com/in/itsksaurabh">Kumar Saurabh</a> 2017 </span> | <span>Made with <span style="color: #f7403a">&hearts;</span> in India </span>
      </div>
       
      
    </footer>
        
    </body>
    
</html>



